
{% extends 'base.html.twig' %}

{% block title %}Tous nos produits{% endblock %}

{%  block body %}

    <div class="container margin top">
        <h1>Voir tous nos biens</h1>
            <p>Ad deinde dux immobilis amnis per ripas Aboraeque parans diebus praesidia regionem exagitati ullo ripas
                amnis qui qui celebritati regionem proditus praestitutis egressus effectu celebritati edictus ullo per
                ad qui.
            </p>
    </div>

{% endblock %}